# Salesforce DX
.sfdx/
.sf/
.localdevserver/
.localdev/
deploy-options.json

# Dependencies
node_modules/

# LWC VS Code autocomplete and testing
**/lwc/jsconfig.json
coverage/

# Eslint / Prettier cache
.eslintcache

# Logs
*.log
logs/

# Python compiled bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# OS system files
.DS_Store
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Salesforce Code Analyzer
sca-results.csv
sfca_results.json
